footer {
    background-color: lighten($black-color, $amount: 20%);
    color: $white-color;
    height: 180px;

    h3 {
        margin-left: $small-gap * 2;
        padding-top: $small-gap * 2;
        font-family: 'Shrikhand', cursive;
        font-weight: 100;
    }

    ul {
        margin-left: $small-gap * 2;
        padding-top: $small-gap * 2;

        li {
            margin-bottom: $small-gap;

            i {
                width: 20px;

            }

            a {

                color: $white-color;
                font-size: map-get($font-size, paragraph) * 0.8;
            }
        }
    }
}