@keyframes items-display {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  33% {
    transform: translateY(20px);
    opacity: 0;
  }
  66% {
    transform: translateY(10px);
    opacity: 0;
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes bites-display {
  to {
    visibility: visible;
  }
}
@keyframes loader-display {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -5;
    visibility: hidden;
  }
}
@keyframes loadingColor {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: transparent;
  position: relative;
  z-index: 0;
}

main {
  margin: auto;
  background-color: white;
}

ul {
  list-style-type: none;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.8rem;
  padding-top: 30px;
  padding-left: 10px;
}

h2 {
  font-size: 2.4rem;
  font-weight: 800;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.8rem;
}

main button {
  background: rgb(255, 121, 218);
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  border: none;
  border-radius: 25px;
  margin: 20px auto 0 auto;
  height: 50px;
  cursor: pointer;
  min-width: 190px;
  display: block;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.425);
  transition: all 0.3s;
}
main button:hover {
  transform: translateY(-5px);
  background: rgb(255, 121, 218);
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  opacity: 0.8;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.986);
  transition: all 0.3s;
}
main button span {
  color: white;
  margin: 0 20px 0 20px;
  font-size: 1.62rem;
}

.wrapper__loading {
  box-sizing: border-box;
  animation: loader-display 0s 3.2s forwards, wrapper-anim 3s forwards;
  position: fixed;
  background-color: white;
  background-attachment: fixed;
  background-size: center;
  background-position: center;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
@keyframes wrapper-anim {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper__loading .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  /*  @keyframes loader-anim {
      from {
          transform: translate(-50%, -50%) scale(0.2) rotateZ(0deg);
      }

      to {
          transform: translate(-50%, -50%) scale(0.2) rotateZ(360deg);
      }
  } */
}
.wrapper__loading .loader .dot {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -90px;
  margin-left: -10px;
  border-radius: 10px;
  background-color: #9356DC;
  transform-origin: 50% 90px;
  opacity: 0;
  animation: dot1 1.44s cubic-bezier(0.5, 0, 0.5, 1) infinite, dot1-color 2.9s forwards;
}
.wrapper__loading .loader .dot:nth-child(2) {
  animation-name: dot2, dot2-color;
  animation-delay: 100ms;
  background-color: #a16be0;
}
.wrapper__loading .loader .dot:nth-child(3) {
  animation-name: dot3, dot3-color;
  animation-delay: 200ms;
  background-color: #ae80e5;
}
.wrapper__loading .loader .dot:nth-child(4) {
  animation-name: dot4, dot4-color;
  animation-delay: 300ms;
  background-color: #bc95e9;
}
.wrapper__loading .loader .dot:nth-child(5) {
  animation-name: dot5, dot5-color;
  animation-delay: 400ms;
  background-color: #d7c0f2;
}
.wrapper__loading .loader .dot:nth-child(6) {
  animation-name: dot6, dot6-color;
  animation-delay: 500ms;
  background-color: #d7c0f2;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  animation: loading-opacity 0.775s 0ms infinite alternate, loading-color 2.9s 0ms infinite alternate;
  color: #9356DC;
  font-weight: 700;
}

@keyframes loading-opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes loading-color {
  to {
    color: #99E2D0;
  }
}
/* Dot animations */
@keyframes dot1 {
  0% {
    opacity: 1;
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(390deg);
    opacity: 1;
  }
}
@keyframes dot1-color {
  to {
    background-color: #99E2D0;
  }
}
@keyframes dot2 {
  0% {
    opacity: 1;
    transform: rotateZ(15deg) rotateX(10deg);
  }
  100% {
    transform: rotateZ(375deg) rotateX(10deg);
    opacity: 1;
  }
}
@keyframes dot2-color {
  to {
    background-color: #a5e5d5;
  }
}
@keyframes dot3 {
  0% {
    opacity: 1;
    transform: rotateZ(0deg) rotateX(10deg);
  }
  100% {
    transform: rotateZ(360deg) rotateX(10deg);
    opacity: 1;
  }
}
@keyframes dot3-color {
  to {
    background-color: #b1e9db;
  }
}
@keyframes dot4 {
  0% {
    opacity: 1;
    transform: rotateZ(-15deg) rotateX(10deg);
  }
  100% {
    transform: rotateZ(345deg) rotateX(10deg);
    opacity: 1;
  }
}
@keyframes dot4-color {
  to {
    background-color: #bdece0;
  }
}
@keyframes dot5 {
  0% {
    opacity: 1;
    transform: rotateZ(-30deg) rotateX(10deg);
  }
  100% {
    transform: rotateZ(330deg) rotateX(10deg);
    opacity: 1;
  }
}
@keyframes dot5-color {
  to {
    background-color: #c9f0e6;
  }
}
@keyframes dot6 {
  0% {
    opacity: 1;
    transform: rotateZ(-45deg) rotateX(10deg);
  }
  100% {
    transform: rotateZ(315deg) rotateX(10deg);
    opacity: 1;
  }
}
@keyframes dot6-color {
  to {
    background-color: #d5f3eb;
  }
}
header {
  height: 65px;
  width: 100%;
  -webkit-box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background-color: white;
}
header a {
  position: absolute;
  left: 5%;
}
header a i {
  font-size: 20px;
}

.main__wrapper {
  margin-top: 65px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}
.main__wrapper .background__img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
.main__wrapper .background__img.dish1 {
  background-image: url(./../../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.main__wrapper .background__img.dish2 {
  background-image: url(./../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.main__wrapper .background__img.dish3 {
  background-image: url(./../../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.main__wrapper .background__img.dish4 {
  background-image: url(./../../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.main__wrapper .menus {
  background-color: #f7f7f7;
  transform: translateY(-40px);
  border-radius: 40px 40px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  padding-bottom: 30px;
}
.main__wrapper .menus .flex__container {
  margin-bottom: 50px;
}
.main__wrapper .menus .fa-heart {
  top: 40px;
  right: 10%;
}
.main__wrapper .menus .starters,
.main__wrapper .menus .main__dish,
.main__wrapper .menus .desserts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__wrapper .menus h2 {
  padding-left: 10px;
  font-size: 1.68rem;
  font-weight: 400;
  color: #737373;
  position: relative;
  margin-bottom: 10px;
}
.main__wrapper .menus h2::after {
  content: "";
  width: 40px;
  height: 3px;
  display: block;
  background-color: #99E2D0;
  position: absolute;
  bottom: -5px;
}
.main__wrapper .menus h3 {
  font-size: 1.92rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.main__wrapper .menus p {
  font-size: 1.62rem;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.main__wrapper .menus .items1 {
  animation: items-display 1.5s forwards linear;
}
.main__wrapper .menus .items2 {
  animation: items-display 1.5s 0.2s forwards linear;
}
.main__wrapper .menus .items3 {
  animation: items-display 1.5s 0.4s forwards linear;
}
.main__wrapper .menus .items4 {
  animation: items-display 1.5s 0.6s forwards linear;
}
.main__wrapper .menus .items {
  background-color: white;
  opacity: 0;
  width: 98%;
  height: 70px;
  margin: 10px auto;
  border-radius: 15px;
  box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;
  overflow: hidden;
  transform: translateY(30px);
  cursor: pointer;
}
.main__wrapper .menus .items:hover .item__validate {
  right: 0%;
}
.main__wrapper .menus .items:hover .item__validate i {
  transform: rotate(360deg);
}
.main__wrapper .menus .items:hover .price {
  right: 80px;
}
.main__wrapper .menus .items:hover .item__text {
  width: 68%;
}
.main__wrapper .menus .items:hover .item__validate,
.main__wrapper .menus .items:hover .price,
.main__wrapper .menus .items:hover .item__text,
.main__wrapper .menus .items:hover i {
  transition: all 0.3s;
}
.main__wrapper .menus .items .item__validate,
.main__wrapper .menus .items .price,
.main__wrapper .menus .items .item__text,
.main__wrapper .menus .items i {
  transition: all 0.3s;
}
.main__wrapper .menus .items .item__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  height: 100%;
  width: 85%;
}
.main__wrapper .menus .items .item__validate {
  width: 60px;
  background-color: #99E2D0;
  height: 100%;
  position: absolute;
  right: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__wrapper .menus .items .item__validate i {
  font-size: 2.16rem;
  color: white;
}
.main__wrapper .menus .items .price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 14px;
  font-weight: 900;
}

footer {
  background-color: #333333;
  color: white;
  height: 180px;
}
footer h3 {
  margin-left: 20px;
  padding-top: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
}
footer ul {
  margin-left: 20px;
  padding-top: 20px;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li i {
  width: 20px;
}
footer ul li a {
  color: white;
  font-size: 1.44rem;
}

@media screen and (min-width: 768px) {
  .main__wrapper .menus {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
  }
  .main__wrapper .menus .fa-heart {
    top: 70px;
    right: 5%;
  }
  footer h3,
footer ul {
    width: 90%;
    margin: auto;
  }
  .item__container {
    width: 33%;
    min-width: 350px;
  }
  .flex__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
  }
  .desserts {
    margin-bottom: 0px;
  }
}
.location {
  margin-top: 65px;
  height: 50px;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location h3 {
  position: relative;
  color: #4d4d4d;
}
.location i {
  position: absolute;
  left: -25px;
  color: black;
}

.booking__item {
  height: 285px;
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}
.booking__item h2 {
  margin: 0 45px 15px 45px;
  text-align: center;
}
.booking__item p {
  text-align: center;
  margin: 0 35px 10px 35px;
}
.booking__item p {
  color: #666666;
}

.explaining__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 86%;
  margin: 50px auto 50px auto;
}
.explaining__item h2 {
  width: 100%;
  margin-bottom: 30px;
}

.choice__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* taille rayon choice__item::before */
  transform: translateX(12px);
}
.choice__items .choice__item:nth-child(2)::before {
  content: "2";
}
.choice__items .choice__item:nth-child(3)::before {
  content: "3";
}
.choice__items .choice__item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 20px/20px;
  margin: 10px 0 10px 0;
  box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: all 0.3s;
}
.choice__items .choice__item::before {
  content: "1";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 100%;
  left: -12px;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.choice__items .choice__item:hover {
  background-color: #f2eafb;
  box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
.choice__items .choice__item:hover i {
  color: #9356DC;
}
.choice__items .choice__item::before {
  content: "1";
}
.choice__items .choice__item p {
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  text-align: left;
  width: 75%;
  padding: 0 10px 0 10px;
}
.choice__items .choice__item i {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
  transform: translateY(-1PX);
  color: gray;
}

.restaurants__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: #f7f7f7;
  min-width: 86%;
}
.restaurants__wrapper h2 {
  width: 335px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.restaurants__wrapper .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.restaurants__wrapper .cards .card {
  width: 335px;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  transition: all 0.1s;
  cursor: pointer;
}
.restaurants__wrapper .cards .card:hover {
  transform: scale(1.05);
  transition: all 0.1s;
  box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.568);
}
.restaurants__wrapper .cards .card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurants__wrapper .cards .card__new {
  position: relative;
}
.restaurants__wrapper .cards .card__new::before {
  content: "Nouveau";
  position: absolute;
  z-index: 1;
  background-color: #99E2D0;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4862745098);
  right: 4%;
  top: 6%;
  color: #278870;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 13px 6px 13px;
}
.restaurants__wrapper .cards .card .card__text {
  background-color: white;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
  position: relative;
}
.restaurants__wrapper .cards .card .card__text .restaurant__name {
  font-size: 1.6rem;
  font-weight: 800;
}
.restaurants__wrapper .cards .card .card__text .restaurant__city {
  font-size: 1.44rem;
}
.restaurants__wrapper .cards .card img,
.restaurants__wrapper .cards .card .card__text {
  transform: translateY(-65px);
}

.fa-heart--colored {
  position: absolute;
  right: 7%;
  font-size: 22px;
  transform: translateY(-25%);
  display: flex;
  justify-content: center;
  width: 2.5rem;
  cursor: pointer;
  background: hsl(267deg, 66%, 60%);
  background: linear-gradient(250deg, hsl(267deg, 66%, 60%) 0%, hsl(317deg, 100%, 74%) 100%);
  background: -webkit-linear-gradient(250deg, hsl(267deg, 66%, 60%) 0%, hsl(317deg, 100%, 74%) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
}

.fa-heart--white {
  position: absolute;
  right: 7%;
  font-size: 22px;
  transform: translateY(-25%);
  display: flex;
  justify-content: center;
  width: 2.5rem;
  cursor: pointer;
  background-color: white;
}
.fa-heart--white:hover {
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  .explaining__item {
    width: 90%;
  }
  .explaining__item h2 {
    width: auto;
  }
  .restaurants__wrapper {
    width: 100%;
  }
  .restaurants__wrapper h2 {
    width: auto;
  }
  .restaurants__wrapper .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding: 0px;
  }
  .restaurants__wrapper .cards .card {
    margin: 10px;
  }
  .booking__item {
    height: 240px;
  }
  .choice__items {
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0px);
  }
  .choice__items .choice__item {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
