.wrapper__loading {
    animation: loader-display 0.0s 3s forwards;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    .loading-text {
        position: relative;
        margin: 50px;
        font-size: 50px;
        z-index: 4;
        color: $third-color;
        -webkit-text-stroke: 1px #d6d6d5;
        text-transform: uppercase;
        font-weight: 500;
    }

    .loading-text::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $main-color;
        -webkit-text-stroke: 0 $secondary-color;
        border-right: 1px solid $third-color;
        overflow: hidden;
        animation: loadingColor 2.4s 0.4s linear alternate forwards;
    }

    .pizza {
        height: 18rem;
        width: 20rem;
        border: 15px solid #dba24a;
        background-color: #e1d800;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(30deg);


        svg:nth-child(1) {
            top: 25px;
            left: 0px;
        }

        svg:nth-child(2) {
            top: 10px;
            right: 10px;
        }

        svg:nth-child(3) {
            bottom: 0px;
            right: 40px;
        }

        svg {
            position: absolute;
            width: 50%;
            height: 50%;

            path {
                width: 100%;
                height: 100%;
                transform: translate(50%, 50%);
                stroke-width: 0;
                position: absolute;
            }
        }

        .red__dot {
            height: 2rem;
            width: 2rem;
            display: block;
            background-color: #ce0000;
            border-radius: 50%;
            position: absolute;
        }

        .red__dot:nth-child(4) {
            top: 50px;
        }

        .red__dot:nth-child(5) {
            top: 25px;
            left: 20px;
        }

        .red__dot:nth-child(6) {
            top: 10px;
        }

        .red__dot:nth-child(7) {
            top: 70px;
            right: 10px;
        }

        .red__dot:nth-child(8) {
            bottom: 10px;
            left: 40px;
        }

        .red__dot:nth-child(9) {
            bottom: 40px;
            left: 15px;
        }

        .red__dot:nth-child(10) {
            bottom: 30px;
            right: 25px;
        }

        .red__dot:nth-child(11) {
            bottom: 30px;
            left: 50%;
        }

        .red__dot:nth-child(12) {
            top: 30px;
            right: 30px;
        }

        .red__dot:nth-child(13) {
            bottom: 50%;
            left: 30px;
        }

    }

    .bite__marks {
        visibility: hidden;
        animation: bites-display 0s 0.5s forwards;
        width: 50px;
        height: 50px;
        position: absolute;
        left: -50px;
        transform: translate(35px, 0px) rotate(100deg);

        span {
            position: absolute;
            display: block;
            background-color: white;
            width: 20px;
            height: 100px;
            border-radius: 25px;
        }

        span:nth-child(2) {
            left: 17px;
            top: 10px;
        }

        span:nth-child(3) {
            left: -17px;
            top: 10px;
        }

        span:nth-child(4) {
            left: 34px;
            top: 25px;
        }

        span:nth-child(5) {
            left: -34px;
            top: 25px;
        }
    }

    .bite__marks:nth-child(15) {
        visibility: hidden;
        animation: bites-display 0s 1s forwards;
        left: -50px;
        transform: translate(70px, 52px) rotate(40deg);

        span {
            background-color: white;
        }
    }

    .bite__marks:nth-child(16) {
        visibility: hidden;
        animation: bites-display 0s 1.5s forwards;
        left: -50px;
        transform: translate(90px, 20px) rotate(70deg);

        span {
            background-color: white;
        }
    }

    .bite__marks:nth-child(17) {
        visibility: hidden;
        animation: bites-display 0s 1.9s forwards;
        left: -50px;
        transform: translate(69px, -50px) rotate(150deg);

        span {
            background-color: rgb(255, 255, 255);
        }
    }

    .bite__marks:nth-child(18) {
        visibility: hidden;
        animation: bites-display 0s 2.3s forwards;
        left: -50px;
        transform: translate(130px, -60px) rotate(215deg);

        span {
            background-color: white;
        }
    }

    .bite__marks:nth-child(19) {
        visibility: hidden;
        animation: bites-display 0s 2.6s forwards;
        left: -50px;
        transform: translate(125px, 10px) rotate(140deg);

        span {
            background-color: white;
        }
    }

    .bite__marks:nth-child(20) {
        visibility: hidden;
        animation: bites-display 0s 2.9s forwards;
        left: -50px;
        transform: translate(165px, 30px) rotate(210deg);

        span {
            background-color: white;
        }
    }

    .bite__marks:nth-child(21) {
        visibility: hidden;
        animation: bites-display .1s 3s forwards;
        left: -50px;
        transform: scale(1.5) translate(50px, 25px) rotate(250deg);

        span {
            background-color: white;
        }
    }

}