.wrapper__loading {

    box-sizing: border-box;
    animation:
        loader-display 0s 3.2s forwards, wrapper-anim 3s forwards;

    position: fixed;
    background-color: white;
    background-attachment: fixed;
    background-size: center;
    background-position: center;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;

    @keyframes wrapper-anim {
        0% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);


        /*  @keyframes loader-anim {
            from {
                transform: translate(-50%, -50%) scale(0.2) rotateZ(0deg);
            }

            to {
                transform: translate(-50%, -50%) scale(0.2) rotateZ(360deg);
            }
        } */

        .dot {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            z-index: 10;
            width: 20px;
            height: 20px;
            margin-top: -90px;
            margin-left: -10px;
            border-radius: 10px;
            background-color: $main-color;
            transform-origin: 50% 90px;
            opacity: 0;
            animation: dot1 1.44s cubic-bezier(.50, 0, .50, 1) infinite, dot1-color 2.9s forwards;


        }

        .dot:nth-child(2) {
            animation-name: dot2, dot2-color;
            animation-delay: 100ms;
            background-color: lighten($main-color, 5%);
        }

        .dot:nth-child(3) {
            animation-name: dot3, dot3-color;
            animation-delay: 200ms;
            background-color: lighten($main-color, 10%);
        }

        .dot:nth-child(4) {
            animation-name: dot4, dot4-color;
            animation-delay: 300ms;
            background-color: lighten($main-color, 15%);
        }

        .dot:nth-child(5) {
            animation-name: dot5, dot5-color;
            animation-delay: 400ms;
            background-color: lighten($main-color, 25%);
        }

        .dot:nth-child(6) {
            animation-name: dot6, dot6-color;
            animation-delay: 500ms;
            background-color: lighten($main-color, 25%);
        }
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    animation: loading-opacity 0.775s 0ms infinite alternate, loading-color 2.9s 0ms infinite alternate;
    color: $main-color;
    font-weight: 700;

}


@keyframes loading-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.4;
    }
}

@keyframes loading-color {
    to {
        color: $third-color;
    }
}

/* Dot animations */
@keyframes dot1 {
    0% {
        opacity: 1;
        transform: rotateZ(30deg);
    }

    100% {
        transform: rotateZ(390deg);
        opacity: 1;


    }
}

@keyframes dot1-color {

    to {

        background-color: $third-color;
    }


}

@keyframes dot2 {
    0% {
        opacity: 1;
        transform: rotateZ(15deg) rotateX(10deg);
    }

    100% {
        transform: rotateZ(375deg) rotateX(10deg);
        opacity: 1;
    }
}

@keyframes dot2-color {


    to {

        background-color: lighten($third-color, 3%);
    }


}

@keyframes dot3 {
    0% {
        opacity: 1;
        transform: rotateZ(0deg) rotateX(10deg);
    }



    100% {
        transform: rotateZ(360deg) rotateX(10deg);
        opacity: 1;


    }
}

@keyframes dot3-color {


    to {

        background-color: lighten($third-color, 6%);
    }


}

@keyframes dot4 {
    0% {
        opacity: 1;
        transform: rotateZ(-15deg) rotateX(10deg);
    }



    100% {
        transform: rotateZ(345deg) rotateX(10deg);
        opacity: 1;

    }
}

@keyframes dot4-color {


    to {

        background-color: lighten($third-color, 9%);
    }


}

@keyframes dot5 {
    0% {
        opacity: 1;
        transform: rotateZ(-30deg) rotateX(10deg);
    }


    100% {
        transform: rotateZ(330deg) rotateX(10deg);
        opacity: 1;

    }
}

@keyframes dot5-color {


    to {

        background-color: lighten($third-color, 12%);
    }


}

@keyframes dot6 {
    0% {
        opacity: 1;
        transform: rotateZ(-45deg) rotateX(10deg);

    }



    100% {
        transform: rotateZ(315deg) rotateX(10deg);
        opacity: 1;

    }

}

@keyframes dot6-color {


    to {

        background-color: lighten($third-color, 15%);
    }


}