*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

a {
    text-decoration: none;
    color: $black-color;
}

html {

    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: transparent;
    position: relative;
    z-index: 0;

}

main {

    margin: auto;
    background-color: $white-color;
}

ul {
    list-style-type: none;
}