* {
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: map-get($font-size, title1);
    padding-top: $gap-title;
    padding-left: $small-gap;

}

h2 {
    font-size: map-get($font-size, title2);
    font-weight: 800;
}

h3 {

    font-size: map-get($font-size, title3);
}

p {

    font-size: map-get($font-size, paragraph);
}