.location {
    margin-top: 65px;
    height: 50px;
    width: 100%;
    background-color: darken($white-color, $amount: 6%);
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
        position: relative;
        color: lighten($black-color, $amount: 30%);
    }

    i {
        position: absolute;
        left: -25px;
        color: $black-color;
    }
}

.booking__item {
    height: 285px;
    background-color: darken($white-color, $amount: 3%);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;

    h2 {
        margin: 0 45px 15px 45px;
        text-align: center;
    }

    p {
        text-align: center;
        margin: 0 35px 10px 35px;
    }

    p {
        color: lighten($black-color, $amount: 40%);
    }
}

.explaining__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 86%;
    margin: $gap-divs auto $gap-divs auto;

    h2 {
        width: 100%;
        margin-bottom: $gap-title;
    }
}

.choice__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* taille rayon choice__item::before */
    transform: translateX(12px);

    .choice__item:nth-child(2) {
        &::before {
            content: "2";
        }
    }

    .choice__item:nth-child(3) {
        &::before {
            content: "3";
        }
    }

    .choice__item {
        &::before {
            content: "1";
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: $main-color;
            border-radius: 100%;
            left: -12px;
            color: $white-color;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 2px;
        }

        &:hover {
            background-color: lighten($main-color, $amount: 35%);
            box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.30);
            transition: all 0.3s;

            i {
                color: $main-color;
            }
        }

        &::before {
            content: "1";
        }

        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 100%;
        background-color: lighten($black-color, $amount: 97%);
        border-radius: 20px / 20px;
        margin: 10px 0 10px 0;
        box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
        position: relative;
        transition: all 0.3s;

        p {
            font-weight: 600;
            font-size: map-get($font-size, title3);
            position: relative;
            text-align: left;
            width: 75%;
            padding: 0 10px 0 10px;
        }

        i {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            font-size: 18px;
            transform: translateY(-1PX);
            color: lighten($black-color, $amount: 50%);
        }
    }
}

.restaurants__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: $gap-divs;
    background-color: lighten($black-color, $amount: 97%);
    min-width: 86%;

    h2 {
        width: 335px;
        margin-top: $gap-divs;
        margin-bottom: $gap-title * 0.5;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card {
            width: 335px;
            height: 250px;
            overflow: hidden;
            border-radius: 15px;
            box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.15);
            margin: $small-gap 0;
            transition: all 0.1s;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
                transition: all 0.1s;
                box-shadow: -1px 3px 9px 1px rgba(0, 0, 0, 0.568);
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;

            }

            .card__text {
                background-color: $white-color;
                height: 65px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                padding-left: $small-gap;
                position: relative;

                .restaurant__name {
                    font-size: map-get($font-size, title3);
                    font-weight: 800;

                }

                .restaurant__city {
                    font-size: map-get($font-size, title3) * 0.9;
                }
            }

            img,
            .card__text {
                transform: translateY(-65px);
            }
        }
    }
}

.fa-heart {
    position: absolute;
    right: 7%;
    font-size: 2rem;
    transform: translateY(-25%);
    display: flex;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black-color;
    animation: heart-reverse 0.3s linear both;

    &:hover {

        animation: heart 0.3s linear both;



    }
}

@media screen and (min-width: 768px) {
    .explaining__item {
        width: 90%;

        h2 {
            width: auto;
        }
    }

    .restaurants__wrapper {
        width: 100%;


        h2 {
            width: auto;

        }

        .cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            width: 100%;
            padding: $small-gap;
            padding: 0px;

            .card {
                margin: $small-gap;
            }





        }
    }

    .booking__item {
        height: 240px;
    }

    .choice__items {
        flex-direction: row;
        justify-content: space-between;
        transform: translateX(0px);

        .choice__item {
            width: 30%;
        }

    }
}