@keyframes items-display {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    33% {
        transform: translateY(20px);
        opacity: 0;
    }

    66% {
        transform: translateY(10px);
        opacity: 0;
    }

    75% {
        transform: translateY(5px);

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes bites-display {
    to {
        visibility: visible;

    }


}

@keyframes loader-display {
    0% {
        opacity: 1;
    }

    95% {

        opacity: 1;

    }

    100% {
        opacity: 0;
        z-index: -5;
        visibility: hidden;
    }


}

@keyframes loadingColor {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}