@keyframes heart {
    0% {
        background: rgba(146, 86, 220, 0);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0) 0%, rgba(255, 122, 217, 0) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0) 0%, rgba(255, 122, 217, 0) 100%);
        -webkit-background-clip: text;
        background-clip: text;

    }

    10% {
        background: rgba(146, 86, 220, 0.10);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.1) 0%, rgba(255, 122, 217, 0.1) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.1) 0%, rgba(255, 122, 217, 0.1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    20% {
        background: rgba(146, 86, 220, 0.20);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.2) 0%, rgba(255, 122, 217, 0.2) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.2) 0%, rgba(255, 122, 217, 0.2) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    30% {
        background: rgba(146, 86, 220, 0.30);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.3) 0%, rgba(255, 122, 217, 0.3) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.3) 0%, rgba(255, 122, 217, 0.3) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    40% {
        background: rgba(146, 86, 220, 0.40);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.4) 0%, rgba(255, 122, 217, 0.4) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.4) 0%, rgba(255, 122, 217, 0.4) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    50% {
        background: rgba(146, 86, 220, 0.50);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.5) 0%, rgba(255, 122, 217, 0.5) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.5) 0%, rgba(255, 122, 217, 0.5) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    60% {
        background: rgba(146, 86, 220, 0.60);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.6) 0%, rgba(255, 122, 217, 0.6) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.6) 0%, rgba(255, 122, 217, 0.6) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    70% {
        background: rgba(146, 86, 220, 0.70);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.7) 0%, rgba(255, 122, 217, 0.7) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.7) 0%, rgba(255, 122, 217, 0.7) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    80% {
        background: rgba(146, 86, 220, 0.80);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.8) 0%, rgba(255, 122, 217, 0.8) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.8) 0%, rgba(255, 122, 217, 0.8) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    90% {
        background: rgba(146, 86, 220, 0.90);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.9) 0%, rgba(255, 122, 217, 0.9) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.9) 0%, rgba(255, 122, 217, 0.9) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    100% {
        background: hsla(267, 66%, 60%, 1);
        background: linear-gradient(250deg, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
        background: -webkit-linear-gradient(250deg, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);

    }
}

@keyframes heart-reverse {

    0% {
        background: hsla(267, 66%, 60%, 1);
        background: linear-gradient(250deg, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
        background: -webkit-linear-gradient(250deg, hsla(267, 66%, 60%, 1) 0%, hsla(317, 100%, 74%, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black-color;
        transform: translateY(-25%);

    }

    10% {
        background: rgba(146, 86, 220, 0.90);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.9) 0%, rgba(255, 122, 217, 0.9) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.9) 0%, rgba(255, 122, 217, 0.9) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black-color;
        transform: translateY(-25%);
    }

    20% {
        background: rgba(146, 86, 220, 0.80);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.8) 0%, rgba(255, 122, 217, 0.8) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.8) 0%, rgba(255, 122, 217, 0.8) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black-color;
        transform: translateY(-25%);
    }

    30% {
        background: rgba(146, 86, 220, 0.70);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.7) 0%, rgba(255, 122, 217, 0.7) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.7) 0%, rgba(255, 122, 217, 0.7) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }


    40% {
        background: rgba(146, 86, 220, 0.60);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.6) 0%, rgba(255, 122, 217, 0.6) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.6) 0%, rgba(255, 122, 217, 0.6) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    50% {
        background: rgba(146, 86, 220, 0.50);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.5) 0%, rgba(255, 122, 217, 0.5) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.5) 0%, rgba(255, 122, 217, 0.5) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    60% {
        background: rgba(146, 86, 220, 0.40);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.4) 0%, rgba(255, 122, 217, 0.4) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.4) 0%, rgba(255, 122, 217, 0.4) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }


    70% {
        background: rgba(146, 86, 220, 0.30);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.3) 0%, rgba(255, 122, 217, 0.3) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.3) 0%, rgba(255, 122, 217, 0.3) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    80% {
        background: rgba(146, 86, 220, 0.20);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.2) 0%, rgba(255, 122, 217, 0.2) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.2) 0%, rgba(255, 122, 217, 0.2) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }


    90% {
        background: rgba(146, 86, 220, 0.10);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0.1) 0%, rgba(255, 122, 217, 0.1) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0.1) 0%, rgba(255, 122, 217, 0.1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        transform: scale(1.05) translateY(-25%);
    }

    100% {
        background: rgba(146, 86, 220, 0);
        background: linear-gradient(250deg, rgba(146, 86, 220, 0) 0%, rgba(255, 122, 217, 0) 100%);
        background: -webkit-linear-gradient(250deg, rgba(146, 86, 220, 0) 0%, rgba(255, 122, 217, 0) 100%);
        -webkit-background-clip: text;
        background-clip: text;

    }

}

@keyframes items-display {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    33% {
        transform: translateY(20px);
        opacity: 0;
    }

    66% {
        transform: translateY(10px);
        opacity: 0;
    }

    75% {
        transform: translateY(5px);

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes bites-display {
    to {
        visibility: visible;

    }


}

@keyframes loader-display {
    to {
        z-index: -5;
        visibility: hidden;

    }


}