@keyframes items-display {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    66% {
        transform: translateY(10px);
        opacity: 0;
    }

    75% {
        transform: translateY(5px);

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes wrapper-anim {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes loader-display {
    to {
        z-index: -5;
    }
}


@keyframes loading-opacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.4;
    }
}

@keyframes loading-color {
    to {
        color: $third-color;
    }
}

/* Dot animations */
@keyframes dot1 {
    0% {
        opacity: 1;
        transform: rotateZ(30deg);
    }

    100% {
        transform: rotateZ(390deg);
        opacity: 1;


    }
}

@keyframes dot1-color {

    to {
        background-color: $third-color;
    }

}

@keyframes dot2 {
    0% {
        opacity: 1;
        transform: rotateZ(15deg) rotateX(10deg);
    }

    100% {
        transform: rotateZ(375deg) rotateX(10deg);
        opacity: 1;
    }
}

@keyframes dot2-color {


    to {

        background-color: lighten($third-color, 3%);
    }


}

@keyframes dot3 {
    0% {
        opacity: 1;
        transform: rotateZ(0deg) rotateX(10deg);
    }



    100% {
        transform: rotateZ(360deg) rotateX(10deg);
        opacity: 1;


    }
}

@keyframes dot3-color {


    to {

        background-color: lighten($third-color, 6%);
    }


}

@keyframes dot4 {
    0% {
        opacity: 1;
        transform: rotateZ(-15deg) rotateX(10deg);
    }



    100% {
        transform: rotateZ(345deg) rotateX(10deg);
        opacity: 1;

    }
}

@keyframes dot4-color {


    to {

        background-color: lighten($third-color, 9%);
    }


}

@keyframes dot5 {
    0% {
        opacity: 1;
        transform: rotateZ(-30deg) rotateX(10deg);
    }


    100% {
        transform: rotateZ(330deg) rotateX(10deg);
        opacity: 1;

    }
}

@keyframes dot5-color {


    to {

        background-color: lighten($third-color, 12%);
    }


}

@keyframes dot6 {
    0% {
        opacity: 1;
        transform: rotateZ(-45deg) rotateX(10deg);

    }



    100% {
        transform: rotateZ(315deg) rotateX(10deg);
        opacity: 1;

    }

}

@keyframes dot6-color {


    to {

        background-color: lighten($third-color, 15%);
    }


}