$main-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$black-color: black;
$white-color: white;
// gaps
$gap-divs: 50px;
$gap-title: 30px;
$small-gap: 10px;
//maps
$font-size: (basic: 1.5rem,
  title1: 2.8rem,
  title2: 2.4rem,
  title3: 1.6rem,
  title4: 2rem,
  paragraph: 1.8rem,
);